/* @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap'); */

:root {
  --primary-color: #61DAFC;
  --secondary-color: #1c3fa8;
  --dark-color: #002240;
  --light-color: #f4f4f4;
  --success-color: #5cb85c;
  --error-color: #d9534f;
  --button-color: purple;
}

*{
  padding: 0;
  margin: 0;
  background-color: black !important;
  color: #fff !important;
}
#darbon{
  font-size: 28px !important;
}
.nav_title, .nav_links{
  font-size: 20px !important;
}
.links{
  padding: 20px 10px !important;
}
.navbar-toggler-icon{
  background-image: url("./assets/hamburger.jpeg") !important;
}
.sign_in button{
  background-color: var(--button-color) !important;
  border-radius: 10px !important;
  padding: 10px 30px !important;
  border: 1px solid var(--button-color) !important;
}
.first_section_title{
  margin-top: 100px !important;
}
.first_section_title span {
  display: inline-block;
  font-size: 3rem !important;
  line-height: 4rem !important;
  font-weight: bold !important;
  margin-bottom: 20px !important;
}
.first_section_title p {
  color: gray !important;
  font-size: 1rem !important;
  line-height: 1.5rem !important;
  margin-bottom: 20px !important;
}
.first_section_title button {
  background-color: var(--button-color) !important;
  border-radius: 10px !important;
  padding: 10px 30px !important;
  border: 1px solid var(--button-color) !important;
  text-transform: uppercase !important;
}
.first_section_image{
  width: 120% !important;
  height: 90% !important;
}
.choose_us{
  width: 500px !important;
  margin: 0 auto !important;
}
.choose_us p, .row_p p {
  color: gray !important;
}
.choose_us_images{
  display: block !important;
  width: 80% !important;
  height: 60% !important;
  border-radius: 50% !important;
  margin-left: auto;
  margin-right: auto;
}
.row_p{
  margin-top: 50px !important;
}
.third_section_title{
  margin-top: 100px !important;
}
.third_section_title span{
  display: block !important;
  background-color: rgb(206, 118, 206) !important;
  border-radius: 50px !important;
  width: 40% !important;
  padding: 10px !important;
  text-align: center;
  color: black !important;
}
.third_section_title #bank-with-peace-of-mind {
  color: #fff !important;
  font-size: 3rem !important;
  line-height: 3.5rem !important;
  font-weight: bold !important;
  width: 100% !important;
}
.third_section_title #enjoy-cheaper-transactions{
  color: gray !important;
  font-size: 20px !important;
  line-height: 1.6em !important;
}
.third_section_title button{
  background-color: var(--button-color) !important;
  border-radius: 10px !important;
  padding: 10px 30px !important;
  border: 1px solid var(--button-color) !important;
  text-transform: uppercase !important;
  margin-left: -15px !important;
}
.fa-chevron-circle-right{
  background-color: purple !important;
}
.third_section_image{
  width: 100% !important;
}
.fourth_section_title{
  margin-top: 100px !important;
}
.fourth_section_title span{
  display: block !important;
  background-color: rgb(206, 118, 206) !important;
  border-radius: 50px !important;
  width: 40% !important;
  padding: 10px !important;
  text-align: center;
  color: black !important;
}
.fourth_section_title #access-to-credit {
  color: #fff !important;
  font-size: 2rem !important;
  line-height: 3.5rem !important;
  font-weight: bold !important;
  width: 100% !important;
}
.fourth_section_title #receive-funds{
  color: gray !important;
  font-size: 20px !important;
  line-height: 1.6em !important;
}
.fourth_section_title button{
  background-color: var(--button-color) !important;
  border-radius: 10px !important;
  padding: 10px 30px !important;
  border: 1px solid var(--button-color) !important;
  text-transform: uppercase !important;
  margin-left: -15px !important;
  margin-bottom: 25px !important;
}
.fa-chevron-circle-right{
  background-color: purple !important;
}
.fourth_section_image{
  display: inline-block !important;
  width: 120% !important;
  height: 80% !important;
}
#sixth_section{
  background-color: purple !important;
  margin-left: -80px !important;
  width: 100vw !important;
  height: 40vh !important;
  padding: 30px 240px !important;
}
#sixth_section span {
  display: inline-block !important;
  font-size: 2rem !important;
  margin-top: 10px !important;
  font-weight: bold !important;
  text-align: center !important;
}
#sixth_section p, #sixth_section span{
  background-color: purple !important;
}
.sixth_section_buttons button{
  background-color: purple !important;
  height: 10px !important;
}
.footer .links{
  color: gray !important;
  margin-bottom: -15px !important;
}
.footer_title{
  margin-left: 10px !important;
}

@media(max-width: 500px) {

  #darbon{
    font-size: 22px !important;
  }
  .nav_title, .nav_links{
    font-size: 16px !important;
  }
  .first_section_title span {
    font-size: 2rem !important;
    line-height: 3rem !important;
  }

  .first_section_title button {
    margin-left: -10px !important;
  }
  .first_section_image{
    width: 90% !important;
    height: 90% !important;
  }
  .choose_us{
    width: 100% !important;
    margin: auto auto !important;
  }
  .choose_us h1, .row_p h1 {
    font-size: 30px !important;
  }
  .choose_us p, .row_p p {
    font-size: 16px !important;
  }
  .choose_us_images{
    width: 60% !important;
    height: 50% !important;
    border-radius: 50% !important;
  }

  .third_section_title{
    margin-top: 50px !important;
  }
  .third_section_title span{
    width: 50% !important;
    padding: 10px 5px !important;
  }
  .third_section_title #bank-with-peace-of-mind {
    font-size: 2rem !important;
    line-height: 2.5rem !important;
    width: 70% !important;
  }
  .third_section_title #enjoy-cheaper-transactions{
    font-size: 16px !important;
    line-height: 1.6em !important;
  }
  .third_section_title button{
    padding: 10px 20px !important;
    margin-left: -15px !important;
  }
 
  .third_section_image{
    width: 90% !important;
    margin-top: -50px !important;
  }
  .fourth_section_title{
    margin-top: 50px !important;
  }
  .fourth_section_title span{
    width: 50% !important;
    padding: 10px 5px !important;
  }
  .fourth_section_title #access-to-credit {
    font-size: 2rem !important;
    line-height: 2.5rem !important;
    width: 90% !important;
  }
  .fourth_section_title #receive-funds{
    font-size: 16px !important;
    line-height: 1.6em !important;
  }
  .fourth_section_title button{
    padding: 10px 20px !important;
    margin-left: -15px !important;
  }
  .fa-chevron-circle-right{
    background-color: purple !important;
  }
  .fourth_section_image{
    display: inline-block !important;
    width: 90% !important;
    height: 80% !important;
  }
  /* .links{
    margin-bottom: 115px !important;
  } */
  /* #darbon_footer{
    margin-top: 120px !important;
  } */
}
